In [2]:
# Titanic Aprendizado de maquina sobre o desatre:
# Objetivos: fazer uma previsao de sobreviventes atraves dos dados atraves da Acuracia(A porcentagem de passageiros que se preve corretamente)


# Comecando a entender a base de dados

# importando a base de dados
import pandas as pd
import numpy as np


treino = pd.read_csv("train.csv") # importando a base de dados de treino 
treino.head(4)                    # visualizando a base de treino

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [3]:
# importando o ReportProfiling do ydata-profiling
from ydata_profiling import ProfileReport

c:\Users\cleber\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# gerando o relatorio do profile
profile = ProfileReport(treino, title="Relatorio Treino")

In [5]:
# visualizando o relatorio
profile = ProfileReport(treino, title="Relatorio Treino")

In [6]:
# criando o relatorio
profile.to_file("Relatorio Treino.html")

100%|██████████| 12/12 [00:00<00:00, 714.51it/s]00:00, 12.16it/s, Describe variable: Embarked]
Summarize dataset: 100%|██████████| 47/47 [00:02<00:00, 19.06it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.75s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.73it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 60.07it/s]

In [7]:
# verificando as informacoes da base 
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
# verificando os tipos de dados
treino.dtypes.value_counts()

int64      5
object     5
float64    2
Name: count, dtype: int64

In [9]:
# verificando valores nulos
treino.isnull().sum().sort_values(ascending=False).head(5)
# isnull() retorna True/False para cada célula: / True → o valor é nulo (NaN) / False → o valor não é nulo
# sum() ele retorna a soma dos valores nulos existentes em cada coluna
# sort_values(acending) ele retorna em ordem crescente, as colunas com mais valores nulos aparecem primeiro
# head(5) ira retornar as 5 colunas com mais valores nulos

Cabin          687
Age            177
Embarked         2
PassengerId      0
Name             0
dtype: int64

** agora vamos visualizar a base de teste ** 
A base de teste é a base aonde iremos fazer a previsao

In [10]:
# importando a base de teste
teste = pd.read_csv("test.csv")
teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [11]:
# verificando as informacoes da base de teste
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [12]:
# verificando os valores nulos da base ( Apesar de os dados serem os mesmos da base de treino nao necessariamente os valores vazios irao ser iguais entao precisaremos fazer o tratamento de dados dessas 2 bases)
teste.isnull().sum().sort_values(ascending=False).head(5)

Cabin     327
Age        86
Fare        1
Name        0
Pclass      0
dtype: int64

In [13]:
# temos colunas vazias na base de teste que nao estao vazias na base de treino nesse caso entao precisamos tratar somente as colunas da base de teste)

# Realizando o tratamento iniciais dos dados na base de teste

In [14]:
# verificando novamente os valores vazios para a base de treino
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Name             0
dtype: int64

In [15]:
# retornando o shape da base (quantas linhas,colunas que eu tenho?)
treino.shape

(891, 12)

In [16]:
# entao vemos que de 891 linhas na base temos 687 linhas vazias

# olhando novamente a base 
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# vemos que as colunas cabin, ticket as informacoes estao sem padrao ( pode verificar o Relatorio treino.html para visualizar melhor)

In [18]:
# verificando a cardinalidade dos dados
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Embarked         3
Pclass           3
Survived         2
Sex              2
dtype: int64

In [19]:
# As colunas com alta cardinalidade como nome,ticket,cabine, nao vao ajudar o modelo pois pode torna-lo menos generalizavel nesse caso vamos eliminar essas colunas

In [20]:
# eliminado para a base de treino
treino = treino.drop(["Name","Ticket","Cabin"], axis=1) # nao eliminamos a coluna Id porque iremos usar ela

# e eliminando tambem na base de teste (tudo que fizer na base de treino tem que fazer na base de teste)
teste = teste.drop(["Name","Ticket","Cabin"], axis=1)

In [21]:
# Agora precisamos tratar a coluna Age que tem valores vazios tanto no treino quanto no teste: No caso essa coluna não deveria ter valores vazios pois todo mundo tem uma idade.
# como essa coluna se refere a idade dos passageiros podemos fazer uma media de idade para preencher os valores vazios

# verificando a idade media da base de treino
treino.Age.mean()

np.float64(29.69911764705882)

In [22]:
# Agora podemos verificar as colunas com a idade vazia e substituir pela media de idade
treino.loc[treino.Age.isnull(),"Age"] = treino.Age.mean()
# treino.loc:Cria uma máscara booleana True onde Age é nulo.
# isnull(): Seleciona as linhas onde a condição é True e a coluna "Age".
# = mean() substitui os valores pela media da idade

# e fazendo o mesmo para a base de teste
teste.loc[teste.Age.isnull(),"Age"] = teste.Age.mean()

In [23]:
# Para a base de treino ainda temos 3 valores vazios na coluna "Embarked"
# Vamos verificar os valores vazios e substituir pela MODA (que é o valor mais frequente no caso dessa coluna é o S)

# verificando os valores na coluna Embarked
treino.Embarked.value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [24]:
# selecionando a moda dessa coluna
treino.Embarked.mode()[0]

'S'

In [25]:
# substituindo valores vazios 
treino.loc[treino.Embarked.isnull(),"Embarked"] = treino.Embarked.mode()[0]

In [26]:
# para finalizar a base de teste temos um arquivo vazio em Fare, vamos usar a mesma logica de Age e substituir pela moda
# verificando a media da coluna fare da base de teste

teste.loc[teste.Fare.isnull(),"Fare"] = teste.Fare.mean()

In [27]:
# Verificando novamente se ha dados vazios nas bases de treino e de teste
treino.isnull().sum().sort_values(ascending=False).head(9)

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [28]:
teste.isnull().sum().sort_values(ascending=False).head(9)

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [39]:
# Considerando apenas as colunas que nao sao texto:
# Verificando as colunas de texto na base:
treino.columns[treino.dtypes != 'object']

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [ ]:
# selecionando apenas valores numericos da base de treino
treino_nr = treino.columns[treino.dtypes != 'object']

In [31]:
# selecionando os valores de texto para a base de treino
treino_txt = treino.loc[: , treino_nr]

In [32]:
# E para a base de teste# selecionando apenas valores numericos da base de teste
teste_nr = teste.columns[teste.dtypes != 'object']

In [33]:
# selecionando os valores de texto para a base de teste
teste_txt = teste.loc[: , teste_nr]

In [34]:
# Selecionando um modelo de Classificacao

# Nesse caso vamos selecionar 3 modelos :
# Arvore de Decisao - RandomForest
# Vizinhos Proximos - KNN 
# Regressão Logistica

In [35]:
# Antes de usar esses modelos vamos separar a base em base de treino e validacao

# vamos importar o train_split_test

from sklearn.model_selection import train_test_split

In [38]:
# separando a base de treino em x e Y
x = treino_nr.drop(["PassengerId" , "Survived"])
y = treino.Survived

In [37]:
# separando em treino e validacao
x_train, x_val, y_train, y_val = train_test_split( x, y , test_size=0.33 , random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [5, 891]

In [ ]:
# Para a arvore de classificao
# Fazendo a Importacao
from sklearn import tree

In [ ]:
# Criando o classificador
clf_ac = tree.DecisionTreeClassifier(random_state=42)

In [ ]:
# fazendo o fit com os dados
clf_ac = clf_ac.fit(x_train, y_train)

In [ ]:
# fazendo a previsao
y_pred_ac = clf_ac.predict(x_val)

In [ ]:
# Para Vizinhos Proximos KNN
# Fazendo a importacao
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# criando o classificador
clf_knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
# fazendo o fit com os dados
clf_knn = clf_knn.fit(X_train, y_train)

In [ ]:
# fazendo a previsao
y_pred_knn = clf_knn.predict(x_val)

In [ ]:
# Para a regressao logistica
#fazendo a importacao
from sklearn.linear_model import LogisticRegression

In [ ]:
# criando o calssificador
clf_rl = LogisticRegression(random_state=42)

In [ ]:
# fazendo o fit com os dados
clf_rl = clf_rl.fit(X_train, y_train)

In [ ]:
# fazendo a previsao
y_pred_rl = clf_rl.predict(x_val)

In [ ]:
type(treino_nr)

pandas.core.indexes.base.Index